@import 'tailwindcss';

/* Utility to hide the scrollbar for the books carousel but keep it scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
